html {
  scroll-behavior: smooth;
  height: 100%;
}
body {
  width: 100vw;
  height: 100%;
  /* max-height: 100vh; */
  color: var(--aFontColor);
  background-color: var(--bodyBgColor);
  /* overflow-y: scroll; */
  overflow: hidden;
}
section {
  width: 100%;
  height: 100vh;
  position: relative;
  font-size: 3vw;
  scroll-snap-align: start;
  scroll-snap-stop: normal;
}
img {
  transition: all 0.6s;
}
@font-face {
  font-family: "Marker";
  src: url("../font/Marker-Felt-Thin.ttf");
}
@font-face {
  font-family: "Lumi";
  src: url("../font/Luminari-Regular.ttf");
}
h1 {
  font-family: "Marker";
  color: var(--aFontColor);
}
h2 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: var(--aFontColor);
}
h3 {
  font-family: "Lumi";
  color: var(--aFontColor);
  -webkit-text-stroke: 1px;
}
.desc {
  font-family: "Lumi";
  font-size: 0.45em;
  position: absolute;
}
a {
  color: var(--aFontColor);
  text-decoration: none;
}

.logo {
  position: fixed;
  width: 7vw;
  height: 7vw;
  left: 4vw;
  top: 4vw;
  z-index: 999;
  background-image: var(--logoBgImg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
}
.logo a {
  display: block;
  width: 100%;
  height: 100%;
}
ul,
ol {
  list-style: none;
}
.elevator {
  position: fixed;
  left: 2vw;
  top: 50%;
  transform: translateY(-50%);
  z-index: 999;
}
.elevator ul {
  padding: 1vw 0;
}
.elevator li {
  width: 0.5vw;
  height: 0.5vw;
  background-color: var(--bgColor2);
  border-radius: 50%;
  margin-bottom: 1vw;
  transition: all 0.3s;
}
.elevator .elevator-item {
  height: 0.5vw;
  width: 1vw;
  background-color: var(--bgColor1);
  border-radius: 0.25vw;
  cursor: pointer;
}
.elevator .elevator-item.active {
  width: 1.5vw;
}
.elevator .elevator-item a {
  display: block;
  height: 100%;
}

.back {
  width: 2.5vw;
  height: 2.5vw;
  position: fixed;
  right: 2vw;
  top: 2vw;
  min-width: 30px;
  min-height: 30px;
  background-image: var(--backBgImg1);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.c-f-s {
  position: absolute;
  right: -2vw;
  top: 50%;
  transform: translateY(-50%);
}
.theme {
  position: absolute;
  right: -2.5vw;
  top: 40%;
  transform: translateY(-50%);
}
.theme span {
  display: block;
  width: 2vw;
  height: 2vw;
  border: 1px solid #eee;
  border-radius: 4px;
  margin-bottom: 0.5vw;
}
.theme span:nth-child(1) {
  background-color: #fff;
}
.theme span:nth-child(2) {
  background-color: #000;
}
.c-f-s .btn {
  display: block;
  margin-bottom: 0.5vw;
  padding: 0;
  border: 1px solid #ccc;
  background-color: #eee;
  width: 1.5vw;
  height: 1.5vw;
  line-height: 1.5vw;
  font-size: 1vw;
  box-sizing: border-box;
}

/* index page */
.title {
  position: absolute;
  z-index: 99;
}
.title h2 {
  line-height: 0.9;
  font-size: 3em;
}
.title span.small {
  font-family: "Lumi";
  font-size: 0.3em;
  vertical-align: text-top;
  margin-top: 0.35em;
  display: inline-block;
  position: absolute;
  left: -9vw;
}
.title span.small::after {
  content: "";
  width: 1em;
  height: 0.1em;
  margin: 0 0.5em;
  background-color: var(--fontColor);
  display: inline-block;
  vertical-align: middle;
}

.item1 img,
.item2 img,
.item3 img {
  width: 100%;
  height: 100%;
}

#s1 {
  color: var(--fontColor);
}
#s1 .title {
  left: 19vw;
  top: 35vh;
  width: 26em;
  height: 55vh;
  line-height: 5.5em;
}
#s1 .title h1 {
  font-size: 6em;
  letter-spacing: -6px;
}

#s2 .title {
  top: 36vh;
  left: 21vw;
}

#s2 .item1 {
  width: 40vw;
  height: 55vh;
  position: absolute;
  top: -15vh;
  left: 29vw;
  z-index: 9;
}
#s2 .item1 h3 {
  position: absolute;
  top: 14vw;
  right: -20vw;
  z-index: 9;
}
#s2 .item1 .desc {
  top: 34vh;
  right: -8vw;
}

#s2 .item2 {
  width: 22vw;
  height: 50vh;
  position: absolute;
  left: 15vw;
  bottom: 3vh;
}
#s2 .item2 h3 {
  position: absolute;
  top: 18vw;
  left: -12vw;
  z-index: 9;
}
#s2 .item2 .desc {
  top: 38vh;
  left: -8vw;
  z-index: 9;
}

#s2 .item3 {
  width: 42vw;
  height: 48vh;
  position: absolute;
  top: 45vh;
  right: 3vw;
}
#s2 .item3 h3 {
  position: absolute;
  top: 12vw;
  left: -12vw;
  z-index: 9;
}
#s2 .item3 .desc {
  top: 32vh;
  left: -8vw;
  z-index: 9;
}

#s3 .title {
  top: 34vh;
  left: 50vw;
}
#s3 .item1 {
  width: 35vw;
  height: 40vh;
  position: absolute;
  top: -3vh;
  right: 8vw;
}
#s3 .item1 h3 {
  position: absolute;
  top: 9vh;
  left: -12vw;
}
#s3 .item1 .desc {
  top: 25vh;
  left: -8vw;
}

#s3 .item2 {
  width: 20vw;
  height: 57vh;
  position: absolute;
  top: 13vh;
  left: 18vw;
}
#s3 .item2 h3 {
  position: absolute;
  top: 32vh;
  left: -12vw;
}
#s3 .item2 .desc {
  top: 48vh;
  left: -8vw;
}

#s3 .item3 {
  width: 40vw;
  height: 45vh;
  position: absolute;
  bottom: -3vh;
  left: 45vw;
  z-index: 9;
}
#s3 .item3 h3 {
  position: absolute;
  top: 18vh;
  left: -12vw;
}
#s3 .item3 .desc {
  top: 34vh;
  left: -8vw;
}

#s4 .title {
  top: 7vh;
  left: 39vw;
}

#s4 .item1 {
  width: 32vw;
  height: 35vh;
  position: absolute;
  top: 25vh;
  left: 10vw;
}
#s4 .item1 h3 {
  position: absolute;
  top: 23vh;
  right: -19vw;
}
#s4 .item1 .desc {
  top: 35vh;
  right: -8vw;
}

#s4 .item2 {
  width: 23vw;
  height: 68vh;
  position: absolute;
  top: 10vh;
  right: 2vw;
}
#s4 .item2 h3 {
  position: absolute;
  top: 67vh;
  left: 1.3vw;
}
#s4 .item2 .desc {
  top: 79vh;
  left: 6vw;
}

#s4 .item3 {
  width: 41vw;
  height: 35vh;
  position: absolute;
  bottom: -3vh;
  left: 30vw;
}
#s4 .item3 h3 {
  position: absolute;
  top: 1vh;
  left: -12vw;
  z-index: 99;
}
#s4 .item3 .desc {
  top: 15vh;
  left: -8vw;
  z-index: 9;
}
#s4 .item3 img {
  transform: rotateY(180deg);
}

#s5 .title {
  left: 18vw;
  top: 37vh;
}

#s5 .item1 {
  width: 37vw;
  height: 40vh;
  position: absolute;
  top: 8vh;
  left: 50vw;
}
#s5 .item1 h3 {
  position: absolute;
  top: 0.2vh;
  left: -12vw;
}
#s5 .item1 .desc {
  top: 12.2vh;
  left: -8vw;
}

#s5 .item2 {
  width: 40vw;
  height: 35vh;
  position: absolute;
  bottom: -3vh;
  left: 18vw;
}
#s5 .item2 h3 {
  position: absolute;
  left: -12vw;
}
#s5 .item2 .desc {
  top: 12vw;
  left: -8vw;
}

#s5 .item3 {
  width: 24vw;
  position: absolute;
  right: 3vw;
  bottom: 19vh;
}
#s5 .item3 h3 {
  position: absolute;
  top: 10vh;
  left: -12vw;
}
#s5 .item3 .desc {
  top: 22vh;
  left: -8vw;
}

#s6 .title {
  top: 49vh;
  left: 65vw;
}

#s6 .item1 {
  width: 40vw;
  height: 43vh;
  position: absolute;
  top: 8vh;
  right: 8vw;
}
#s6 .item1 h3 {
  position: absolute;
  top: 4vh;
  left: -12vw;
}
#s6 .item1 .desc {
  top: 16vh;
  left: -6vw;
}

#s6 .item2 {
  width: 30vw;
  height: 30vh;
  position: absolute;
  bottom: 0;
  left: 32vw;
}
#s6 .item2 img {
  transform: rotateY(180deg);
}
#s6 .item2 h3 {
  position: absolute;
  top: 11vh;
  right: -22vw;
  z-index: 9;
}
#s6 .item2 .desc {
  top: 23vh;
  right: -8vw;
}

#s6 .item3 {
  width: 21vw;
  height: 62vh;
  position: absolute;
  top: 22vh;
  left: 7vw;
}
#s6 .item3 h3 {
  position: absolute;
  top: 17vh;
  right: -20vw;
}
#s6 .item3 .desc {
  top: 30vh;
  right: -8vw;
}

#indexpage .title,
#indexpage .item1,
#indexpage .item2,
#indexpage .item3 {
  transition: all 0.6s;
}

#indexpage .title:hover,
#indexpage .item1:hover,
#indexpage .item2:hover,
#indexpage .item3:hover {
  transform: scale(1.05);
}

#indexpage {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: mandatory; /* for older browsers */
  scroll-snap-points-y: repeat(100vh); /* for older browsers */
  scroll-snap-type: y mandatory;
}

/* content page */
.wrapper {
  width: 100%;
  /* max-height: 100vh; */
  height: 100%;
  padding: 0 5vw;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: mandatory; /* for older browsers */
  scroll-snap-points-y: repeat(100vh); /* for older browsers */
  scroll-snap-type: y mandatory;
}
.wrapper section::before,
.wrapper section::after {
  content: "";
  display: block;
  width: 0.5vw;
  border-radius: 0.25vw;
  height: 30vh;
  background-color: var(--bgColor1);
  position: absolute;
  z-index: 999;
  right: 0;
}
.wrapper section::before {
  top: 12vh;
}
.wrapper section::after {
  bottom: 12vh;
}
.w {
  width: 100%;
  height: 100%;
  position: relative;
  scroll-snap-align: start;
  scroll-snap-stop: normal;
  overflow: auto;
}
#detail .detail {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#detail .container {
  height: 100%;
  padding: 0 1vw;
  position: relative;
  overflow: hidden;
}
#detail .container .s {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: mandatory; /* for older browsers */
  scroll-snap-points-y: repeat(100vh); /* for older browsers */
  scroll-snap-type: y mandatory;
}
#detail .container:target {
  animation: fadeIn 2s;
}
#detail .navigation {
  position: absolute;
  right: -4vw;
  bottom: 3.5vw;
  width: 3vw;
  height: 10vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#detail .navigation > div {
  height: 4.5vw;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}
#detail .navigation .prev {
  background-image: var(--prevImg1);
}
#detail .navigation .next {
  background-image: var(--nextImg1);
}

#main .top {
  width: 50vw;
  height: 45vh;
  padding: 15vh 0 0 9.5vw;
}
#main .title {
  position: relative;
  padding-bottom: 3vh;
  border-bottom: 0.5vw solid var(--bgColor1);
}
#main .text-con {
  width: 65vw;
  height: 43vh;
  margin-top: 6vh;
  margin-left: 15vw;
  font-size: 0.8em;
  line-height: 0.9em;
  font-family: "Courier New", Courier, monospace;
  -webkit-text-stroke: 1px;
  overflow: auto;
}

#detail .item {
  width: 28vw;
  height: 40vh;
  position: relative;
  margin: 0 auto;
  /* left: 50%; */
  /* transform: translateX(-50%); */
  font-size: 2em;
  padding-bottom: 2vw;
}
#detail .item::after {
  content: "";
  display: block;
  height: 0.5vw;
  width: 100%;
  position: absolute;
  left: -100%;
  bottom: 1vw;
  background-color: var(--bgColor1);
  border-radius: 0.25vw;
}
#detail .item img {
  /* width: 100%; */
  display: block;
  margin: 0 auto;
  height: 100%;
}

#detail .item h3 {
  position: absolute;
  left: -12vw;
  top: 5vw;
  font-size: 4vw;
}
#detail .item .desc {
  left: -8vw;
  top: 15vw;
  font-size: 1.5vw;
}
#d1,
#d2,
#d3 {
  overflow: auto;
  max-height: 100vh;
}
.detail .page-con {
  padding: 3vh 1vw;
  /* column-count: 3; */
  font-size: 0.6em;
  font-family: "Courier New", Courier, monospace;
  -webkit-text-stroke: 0.3px;
  overflow: auto;
  width: 100%;
}

.detail .page-con .item {
  column-span: all;
}
.detail-r .page-con {
  height: 100%;
  font-size: 1em;
}
.p1A1 .img1 {
  position: absolute;
  left: 27vw;
  top: 1vw;
  width: 42vw;
}
.p1A1 .img2 {
  position: absolute;
  left: 0vw;
  top: 18vw;
  width: 33vw;
}
.p1A1 .text-con {
  position: absolute;
  bottom: 2vw;
  left: 36vw;
  width: 24vw;
  font-size: 0.6em;
  line-height: 0.95em;
  overflow: auto;
  height: 50vh;
  color: var(--aFontColor);
}
.p1A1 .sider-list {
  position: absolute;
  right: 2vw;
  top: 7vh;
  letter-spacing: 5px;
}
.p1A1 .sider-list ul {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  text-align: right;
}
.p1A1 .sider-list ul li h3 {
  font-size: 3.5vw;
  line-height: 8vh;
  transition: 0.5s;
  list-style: none;
  float: left;
}

.p1A1 .img2 img,
.p1A1 .img1 img {
  width: 100%;
}

#detail .detail-r {
  width: 100%;
  height: 100%;
}
#detail .detail-r .text-con {
  column-count: auto;
  position: absolute;
  font-family: "Courier New", Courier, monospace;
  -webkit-text-stroke: 0.3px;
  overflow: auto;
}
.detail-r .container {
  overflow: auto;
  max-height: 100%;
}

.p1A2 .text-con {
  width: 24vw;
  font-size: 0.25em;
  position: absolute;
  overflow: auto;
  max-height: 30vw;
}
.p1A2 .t1 {
  left: 5vw;
  top: 15vw;
}
.p1A2 .t2 {
  right: 5vw;
  top: 10vw;
}
.p1A2 .t3 {
  left: 30vw;
  top: 30vw;
}
#detail .detail-r .img-con {
  position: absolute;
}
#detail .detail-r .img-con img {
  width: 100%;
}
.line {
  position: absolute;
  height: 0.5vw;
  border-radius: 0.25vw;
  background-color: var(--bgColor1);
}

.p1C2 .i1 {
  left: 10vw;
  top: 4vh;
  width: 37vw;
  z-index: 9;
}
.p1C2 .i2 {
  left: 20vw;
  top: 41vh;
  width: 22vw;
  z-index: 9;
}
.detail-r .img-con h3 {
  position: absolute;
  font-size: 1vw;
}
.p1C2 .i2 h3 {
  left: -16vw;
  top: 10vw;
}
.p1C2 .i3 {
  left: 0vw;
  top: 64vh;
  width: 25vw;
}
.p1C3 .text-con,
.p1C2 .text-con {
  width: 39vw;
  font-size: 0.5em !important;
  height: 19vh;
  overflow: hidden;
  padding: 1vw !important;
}
.p1C2 .t1 {
  left: 49vw;
  top: 52vh;
}
.p1C2 .t2 {
  height: 24vh;
  width: 45vw;
  left: 43vw;
  top: 72vh;
}
.p1C2 .line {
  width: 36vw;
  left: 50vw;
  top: 50vh;
}
.p1C3 .t1 {
  top: 7vh;
  left: 9vw;
  width: 30vw;
  height: 14vh;
}
.p1C3 .t2 {
  top: 23vh;
  width: 36vw;
  height: 35vh;
  left: 3vw;
}
.p1C3 .line {
  top: 60vh;
  width: 36vw;
  left: 3vw;
}
.p1C3 .i1 {
  width: 28vw;
  left: 50vw;
  top: 4vh;
  z-index: 9;
}
.p1C3 .i2 {
  width: 25vw;
  right: 5vw;
  top: 46vh;
  z-index: 1;
}
.p1C3 .i1 h3 {
  right: -12vw;
  top: 6vw;
}
.p1C3 .i3 {
  width: 28vw;
  left: 38vw;
  top: 69vh;
}
.p1C3 .i3 h3 {
  right: -10vw;
  top: 6vw;
}
.p1C1 #d3 .desc {
  top: 12vw;
}

.p2A1 #detail .item .desc {
  top: 12vw;
}
.p2A2 .text-con {
  width: 39vw;
  font-size: 0.5em !important;
  height: 19vh;
  overflow: hidden;
  padding: 1vw !important;
}
.p2A2 .t1 {
  left: 3vw;
  top: 49vh;
  height: 48vh;
}
.p2A2 .line {
  top: 47vh;
  width: 36vw;
  left: 3vw;
}
.p2A2 .i1 {
  width: 24vw;
  right: 2vw;
  top: 4vh;
  z-index: 1;
}
.p2A2 .i2 {
  width: 22vw;
  left: 41vw;
  top: 18vh;
  z-index: 9;
}
.p2A2 .i3 {
  width: 27vw;
  left: 53vw;
  top: 44vh;
}

.p2A3 .text-con {
  position: absolute;
  bottom: 2vw;
  left: 36vw;
  width: 24vw;
  font-size: 0.6em;
  line-height: 0.95em;
  overflow: auto;
  height: 100vh;
  color: var(--aFontColor);
}
.p2A3 .sider-list {
  top: 5vh;
  letter-spacing: 8px;
  right: 2vw;
  position: absolute;
}
.p2A3 .sider-list ul {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  text-align: right;
}
.p2A3 .sider-list ul li h3 {
  font-size: 3.5vw;
  line-height: 7vh;
  transition: 0.5s;
  list-style: none;
  float: left;
}

.p2A3 .i1 {
  width: 30vw;
  top: 5vh;
  left: 14vw;
  height: 20vw;
}
.p2A3 .i1 img {
  height: 100%;
}
.p2A3 .i2 {
  width: 50vw;
  top: 40vh;
  left: 4vw;
}
.p2A3 .i2 .l1 {
  width: 25vw;
  float: right;
  height: 16vw;
}
.p2A3 .i2 .l2 {
  float: right;
  width: 23vw;
  height: 32vw;
}
.p2A3 .i2 .l1 img,
.p2A3 .i2 .l2 img {
  height: 100%;
}

.p2A4 .text-con {
  width: 25vw;
  font-size: 0.5em !important;
  height: 70vh;
  overflow: hidden !important;
  padding: 1vw !important;
}
.p4C2 .text-con .text-move {
  margin-bottom: 1vw;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.p2A4 .text-con .text-move {
  margin-bottom: 1vw;
  position: absolute;
  top: 0;
  left: 0;
  width: 23vw;
}
.text-con-3 {
  margin-top: 2vw;
  word-wrap: break-word;
}
.p2A4 .t1 {
  bottom: 0;
  left: 4vw;
}
.p2A4 .t2 {
  top: 10vh;
  left: 31vw;
}
.p2A4 .t3 {
  top: 0;
  right: 4vw;
}

.p2A5-img1 {
  width: 70vw;
  height: auto;
  position: absolute;
  top: 10vh;
  left: 10vw;
}
.p2A5 img {
  width: 100%;
  height: 100%;
  border: 2px solid var(--bgColor2);
}

.p2B1 {
  column-count: auto !important;
  width: 100%;
  height: 100%;
  position: relative;
}

.p2B1 .text-con {
  width: 56vw;
  position: absolute;
  height: 48vh;
  left: 0;
  bottom: 2vw;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 1vw 0;
}
.p2B1 .text-con .text2 {
  column-count: 2;
}
#detail .p2B1 .item {
  position: absolute;
  margin: 0;
  right: 0;
}
#detail .p2B1 .item::after {
  left: -60vw;
  bottom: -2vw;
}
#detail .p2B1 .item img {
  position: absolute;
  top: 2vw;
  right: 2vw;
  width: 26vw;
  height: 80vh;
}
#detail .p2B1 .item h3 {
  left: -19.5vw;
  top: 9vh;
}
#detail .p2B1 .item .desc {
  left: -14vw;
  top: 25vh;
}

.p2B2 .text-con,
.p2B3 .text-con {
  width: 39vw;
  font-size: 0.5em !important;
  height: 19vh;
  overflow: hidden;
  padding: 1vw !important;
}

.p2B2 .line {
  top: 50vh;
  width: 36vw;
  left: 3vw;
}
.p2B2 .t1 {
  top: 20vh;
  left: 9vw;
  width: 32vw;
  height: 15vh;
}
.p2B2 .t2 {
  top: 34vh;
  width: 40vw;
  height: 15vh;
  left: 2vw;
}

.p2B3 .line {
  width: 36vw;
  left: 48vw;
  top: 50vh;
}
.p2B3 .t1 {
  left: 47vw;
  top: 51vh;
  height: 35vh;
}
.p2B3 .t2 {
  height: 13vh;
  width: 45vw;
  left: 41vw;
  bottom: 4vh;
}

.p2B2 .i1 {
  top: 4vh;
  width: 19vw;
  right: 22vw;
}
.p2B2 .i2 {
  width: 19vw;
  right: 2vw;
  bottom: 4vh;
}
.p2B2 .i3 {
  width: 30vw;
  right: 22vw;
  bottom: 4vh;
}

.p2B3 .i1 {
  top: 4vh;
  left: 34vw;
  width: 23vw;
}
.p2B3 .i2 {
  top: 21vh;
  left: 12vw;
  width: 23vw;
}
.p2B3 .i3 {
  bottom: 5vh;
  left: 4vw;
  width: 23vw;
  z-index: 9;
}

.p2B4 .i1 {
  width: 75vw;
  top: 4vh;
  right: 3vw;
  height: 50vw;
}
.p2B4 .i1 img {
  height: 100%;
}
.p2B4 .i2 {
  top: 3vh;
  left: 8vw;
  width: 31vw;
}

.p2C2 {
  position: relative;
}
.p2C2 .img-con {
  /* height: calc(100% - 4vw); */
  height: 70%;
  /* width: 100%; */
  width: 80vw;
  bottom: 2vw;
}
.p4C2 {
  /* margin-top: 4vw; */
  margin-left: 4.5vw;
  width: auto !important;
}
.p4C2 .line3.w80 {
  width: 80% !important;
}
.p2C2 .swiper-slide {
  width: 33vw;
  height: 26.6666vw;
}
.p2C2 img {
  width: 100%;
  height: 100%;
}
.p2C2 .swiper-slide img {
  border-radius: 0 !important;
}
.p2C2 .swiper-slide {
  transform: scale(0.6);
  transition: all 0.6s;
  transform-origin: bottom;
}
.p2C2 .swiper-slide-active {
  transform: scale(1);
}
/* .p2C2 .swiper-container {
  height: 100%;
} */

.p2C3 .text-con {
  width: 25vw;
  font-size: 0.5em !important;
  height: 55vh;
  overflow: hidden;
  padding: 1vw !important;
}
.p2C3 .t1 {
  top: 35vh;
  left: 4vw;
}
.p2C3 .t2 {
  top: 25vh;
  left: 31vw;
}
.p2C3 .t3 {
  top: 15vh;
  right: 4vw;
}
.sider-list li {
  transition: all 0.6s;
  line-height: 1.5;
}
.sider-list li h3 {
  display: flex;
}
.sider-list li span {
  transition: all 0.6s;
}
.sider-list:hover li span {
  transform: rotateY(180deg);
}
#detail .p3A1 .item h3 {
  left: auto;
  right: -26vw;
}
#detail .p3A1 .item .desc {
  left: auto;
  right: -16vw;
}
.top {
  overflow: auto;
}
.h {
  max-height: 33vw;
  overflow: auto;
}
.page-con .text-con-3 {
  column-count: 3;
}

.p3B1 {
  column-count: auto !important;
  width: 100%;
  height: 100%;
  position: relative;
}

.p3B1 .text-con {
  width: 56vw;
  position: absolute;
  height: 30vw;
  left: 0;
  bottom: 2vw;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 1vw 0;
}
.p3B1 .text-con .text2 {
  column-count: 2;
}
#detail .p3B1 .item {
  position: absolute;
  margin: 0;
  right: 0;
}
#detail .p3B1 .item::after {
  left: -60vw;
  bottom: -2vw;
}
#detail .p3B1 .item img {
  position: absolute;
  top: 2vw;
  right: 2vw;
  height: 40vw;
}
#detail .p3B1 .item h3 {
  left: 0;
  bottom: -20vw;
  top: auto;
}
#detail .p3B1 .item .desc {
  left: 0;
  top: auto;
  bottom: -26vw;
}

.p3B2 .i1 {
  top: 6vw;
  left: 8vw;
  width: 28vw;
}
.p3B2 .i2 {
  width: 45vw;
  top: 2vw;
  left: 40vw;
}
.p3B2 .t1 {
  top: 34vw;
  left: auto;
  right: 2vw;
}
.p3B2 .line {
  left: auto;
  right: 4vw;
  top: 32vw;
}
.p-c {
  left: 50% !important;
  transform: translateX(-50%);
}
.p3C2 .img-con {
  position: absolute;
  width: 100%;
  top: 12vw;
}
.p3C2 .img-con .iw1 {
  width: 60vw !important;
  vertical-align: middle;
}
.p3C2 .img-con .iw2 {
  width: 20vw !important;
  vertical-align: middle;
}
.p4C2 .img-con {
  /* width: 100% !important; */
  padding-right: 1vw;
  column-count: 4;
  column-gap: 1vw;
}

.p4C2 .img-con img {
  width: 20vw;
}
.p4C2 .t1 {
  width: 30% !important;
  top: 2vw;
  right: 0;

  font-size: 0.75em;
}

.p4t2 .swiper-container-free-mode > .swiper-wrapper {
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -ms-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
  margin: 0 auto;
}

.img-con.w66 {
  width: 60% !important;
}

.p5C1 .item h3 {
  bottom: auto !important;
  top: 2vw !important;
  right: auto;
  left: -16vw !important;
}
.p5C1 .item .desc {
  bottom: auto !important;
  top: 10vw !important;
  right: auto;
  left: -6vw !important;
}
.line3 {
  column-count: 3 !important;
}

#link-button {
  display: block;
  position: absolute;
  width: 10vw;
  height: 10vw;
  /* background-image: linear-gradient(to right, white, black); */
  background-image: radial-gradient(white, black);
  /* background-image: -webkit-linear-gradient(right, white, black); */
  border-radius: 50%;
  border: 1px solid var(--bgColor1);
  right: 1.5vw;
  bottom: 2vw;
  z-index: 999;
  text-align: center;
  line-height: 10vw;
  color: #fff;
  font-size: 0.75em;
  transition: all 0.3s;
}
#link-button:hover {
  transform: translateY(-10px);
  box-shadow: 0 16px 30px -14px rgba(0, 36, 100, 0.3);
  -webkit-box-shadow: 0 16px 30px -14px rgba(0, 36, 100, 0.3);
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.pic-1 {
  width: 10vw;
  min-height: 10vw;
  top: 4vh;
  right: 4vw;
  animation: flash 2s alternate infinite;
  position: absolute;
}
.pic-1 img {
  width: 100%;
  height: 100%;
}
@keyframes flash {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1);
  }
}
.pic-1:hover + .pic-2 {
  display: block;
}

.pic-2 {
  width: 23vw;
  height: 7vh;
  top: 9vh;
  right: 14vw;
  position: absolute;
  padding-top: 1vh;
  padding-left: 1.5vw;
  text-align: left;
  align-items: center;
  color: var(--fontColor);
  background-color: var(--bgColor2);
  font-size: 2vh;
  line-height: 2.3vh;
  -webkit-text-stroke: 0.5px;
  font-family: "Courier New", Courier, monospace;

  border-radius: 50% 20% / 10% 40%;
  border: 2px solid var(--bgColor1);

  transition: border-radius 3s;
  -webkit-transition: border-radius 3s;
  display: none;
}

.pic-3 {
  width: 10vw;
  min-height: 10vw;
  top: 4vh;
  right: 2vw;
  animation: flash 2s alternate infinite;
  position: absolute;
  z-index: 9999;
}
.pic-3 img {
  width: 100%;
  height: 100%;
  border: 2px solid var(--bgColor2);
}
@keyframes flash {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1);
  }
}
.pic-3:hover + .pic-4 {
  display: block;
}

.pic-4 {
  width: 32vw;
  height: 7vh;
  top: 4vh;
  right: 12vw;
  position: absolute;
  padding-top: 1vh;
  padding-left: 1.5vw;
  text-align: left;
  align-items: center;
  color: var(--fontColor);
  background-color: var(--bgColor2);
  font-size: 2vh;
  line-height: 2.3vh;
  -webkit-text-stroke: 0.5px;
  font-family: "Courier New", Courier, monospace;

  border-radius: 50% 20% / 10% 40%;
  border: 2px solid var(--bgColor1);

  transition: border-radius 3s;
  -webkit-transition: border-radius 3s;
  display: none;
}

#Click-Me-1 {
  width: 13vw;
  height: 7vh;
  top: 4vh;
  right: 2vw;
  animation: flash 2s alternate infinite;
  position: absolute;
  z-index: 9999;
}
@keyframes flash {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1);
  }
}
#Click-Me-1:hover + .pic-5 {
  display: block;
}

.pic-5 {
  width: 25vw;
  height: 7vh;
  top: 11vh;
  right: 2vw;
  position: absolute;
  padding-top: 1vh;
  padding-left: 1.5vw;
  text-align: left;
  align-items: center;
  color: var(--fontColor);
  background-color: var(--bgColor2);
  font-size: 2vh;
  line-height: 2.3vh;
  -webkit-text-stroke: 0.5px;
  font-family: "Courier New", Courier, monospace;

  border-radius: 50% 20% / 10% 40%;
  border: 2px solid var(--bgColor1);

  transition: border-radius 3s;
  -webkit-transition: border-radius 3s;
  display: none;
}

#Click-Me-2 {
  width: 13vw;
  height: 7vh;
  top: 4vh;
  right: 2vw;
  animation: flash 2s alternate infinite;
  position: absolute;
  z-index: 9999;
}
@keyframes flash {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1);
  }
}
#Click-Me-2:hover + .pic-6 {
  display: block;
}

.pic-6 {
  width: 25vw;
  height: 7vh;
  top: 11vh;
  right: 2vw;
  position: absolute;
  padding-top: 1vh;
  padding-left: 1.5vw;
  text-align: left;
  align-items: center;
  color: var(--fontColor);
  background-color: var(--bgColor2);
  font-size: 2vh;
  line-height: 2.3vh;
  -webkit-text-stroke: 0.5px;
  font-family: "Courier New", Courier, monospace;

  border-radius: 50% 20% / 10% 40%;
  border: 2px solid var(--bgColor1);

  transition: border-radius 3s;
  -webkit-transition: border-radius 3s;
  display: none;
}

#Click-Me-3 {
  width: 13vw;
  height: 7vh;
  top: 11vh;
  right: 2vw;
  animation: flash 2s alternate infinite;
  position: absolute;
  z-index: 9999;
}
@keyframes flash {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1);
  }
}
#Click-Me-3:hover + .pic-7 {
  display: block;
}

.pic-7 {
  width: 25vw;
  height: 7vh;
  top: 29vh;
  right: 2vw;
  position: absolute;
  padding-top: 1vh;
  padding-left: 1.5vw;
  text-align: left;
  align-items: center;
  color: var(--fontColor);
  background-color: var(--bgColor2);
  font-size: 2vh;
  line-height: 2.3vh;
  -webkit-text-stroke: 0.5px;
  font-family: "Courier New", Courier, monospace;

  border-radius: 50% 20% / 10% 40%;
  border: 2px solid var(--bgColor1);

  transition: border-radius 3s;
  -webkit-transition: border-radius 3s;
  display: none;
}

.pic-8 {
  width: 67vw;
  height: auto;
  bottom: 3vh;
  right: 8vw;
  animation: flash 2s alternate infinite;
  position: absolute;
  z-index: 9999;
}
.pic-8 img {
  width: 100%;
  height: 100%;
  border: 2px solid var(--bgColor2);
}
@keyframes flash {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1);
  }
}
.pic-8:hover + .pic-9 {
  display: block;
}

.pic-9 {
  width: 32vw;
  height: 7vh;
  top: 4vh;
  right: 24vw;
  position: absolute;
  padding-top: 1vh;
  padding-left: 1.5vw;
  text-align: center;
  align-items: center;
  color: var(--fontColor);
  background-color: var(--bgColor2);
  font-size: 2vh;
  line-height: 2.3vh;
  -webkit-text-stroke: 0.5px;
  font-family: "Courier New", Courier, monospace;

  border-radius: 50% 20% / 10% 40%;
  border: 2px solid var(--bgColor1);

  transition: border-radius 3s;
  -webkit-transition: border-radius 3s;
  display: none;
}

.pic-10 {
  width: 70vw;
  height: auto;
  top: 14vh;
  right: 8vw;
  animation: flash 2s alternate infinite;
  position: absolute;
  z-index: 9999;
}
.pic-10 img {
  width: 100%;
  height: 100%;
  border: 2px solid var(--bgColor2);
}
@keyframes flash {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1);
  }
}
.pic-10:hover + .pic-11 {
  display: block;
}

.pic-11 {
  width: 50vw;
  height: 7vh;
  top: 78vh;
  right: 17vw;
  position: absolute;
  padding-top: 1vh;
  padding-left: 1.5vw;
  text-align: center;
  align-items: center;
  color: var(--fontColor);
  background-color: var(--bgColor2);
  font-size: 2vh;
  line-height: 5vh;
  -webkit-text-stroke: 0.5px;
  font-family: "Courier New", Courier, monospace;

  border-radius: 50% 20% / 10% 40%;
  border: 2px solid var(--bgColor1);

  transition: border-radius 3s;
  -webkit-transition: border-radius 3s;
  display: none;
}

.pic-12 iframe {
  width: 70vw;
  height: 80vh;
  bottom: 4vh;
  right: 8vw;
  position: absolute;
  z-index: 9999;
}
.pic-12:hover {
  border-radius: 25%;
}
.pic-12:hover + .pic-13 {
  display: block;
}
.pic-13 {
  width: 20vw;
  height: 7vh;
  top: 6vh;
  right: 30vw;
  position: absolute;
  padding-top: 1vh;
  padding-left: 1.5vw;
  text-align: center;
  align-items: center;
  color: var(--fontColor);
  background-color: var(--bgColor2);
  font-size: 2vh;
  line-height: 5vh;
  -webkit-text-stroke: 0.5px;
  font-family: "Courier New", Courier, monospace;

  border-radius: 50% 20% / 10% 40%;
  border: 2px solid var(--bgColor1);

  transition: border-radius 3s;
  -webkit-transition: border-radius 3s;
  display: none;
}

.twinkle {
  text-align: center;
  line-height: 7vh;

  animation: twinkle 8s alternate infinite;
  border-radius: 50% 20% / 10% 40%;
  outline: none;
  position: relative;
  transition: border-radius 2.5s;
  -webkit-transition: border-radius 2.5s;
}
@keyframes twinkle {
  from {
    color: rgb(0, 0, 0);
    background-color: rgb(173, 173, 173);
  }
  to {
    color: rgb(173, 173, 173);
    background-color: rgb(71, 71, 71);
  }
}
.twinkle:hover {
  border-radius: 10% 30% 50% 70%;
}

.arrow,
.arrow:before {
  position: absolute;
  left: 50%;
}
.arrow {
  width: 15px;
  height: 15px;
  margin: -20px 0 0 -20px;
  transform: rotate(45deg);
  border-left: none;
  border-top: none;
  border-right: 2px var(--bgColor1) solid;
  border-bottom: 2px var(--bgColor1) solid;
}
.arrow:before {
  content: "";
  width: 7px;
  height: 7px;
  top: 50%;
  margin: -10px 0 0 -10px;
  border-left: none;
  border-top: none;
  border-right: 1px var(--bgColor1) solid;
  border-bottom: 1px var(--bgColor1) solid;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: arrow;
}
@keyframes arrow {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-10px, -10px);
  }
}

#Click-Me {
  width: 13vw;
  height: 7vh;
  align-items: center;
  justify-content: center;
}
#Click-Me button {
  width: 13vw;
  height: 7vh;
  border: 2px dashed rgb(129, 129, 129);
  float: right;
  border-radius: 50% 20% / 10% 40%;
  color: var(--bgColor1);
  background: transparent;
  font-family: "Courier New", Courier, monospace;
  font-size: 1em;
  line-height: 7vh;
  outline: none;
  position: relative;
  transition: border-radius 2.5s;
  -webkit-transition: border-radius 2.5s;
}
#Click-Me button:hover {
  border-radius: 10% 30% 50% 70%;
}

.twinkle-1 {
  width: 15vw;
  height: 7vh;
  top: 4vh;
  right: 4vw;
  position: absolute;
}
.twinkle-2 {
  width: 32vw;
  height: 7vh;
  top: 11vh;
  right: 4vw;
  position: absolute;
}

.arrow-1 {
  position: absolute;
  bottom: 0.5vh;
  left: 2vw;
  z-index: 99999;
}
.arrow-2 {
  position: absolute;
  top: 38vh;
  left: 4vw;
  z-index: 99999;
}
.arrow-3 {
  position: absolute;
  top: 43vh;
  left: 2vw;
  z-index: 99999;
}

.swiper-scrollbar {
  top: 2vw;
  height: 0.5vw;
}
