:root{
    --fontColor: #000;
    -webkit--fontColor: #000;
    --aFontColor: #000;
    -webkit--aFontColor: #000;
    --bgColor1: #000;
    -webkit--bgColor1: #000;
    --bgColor2: #999;
    -webkit--bgColor2: #999;
    --bodyBgColor: #fff;
    -webkit--bodyBgColor: #fff;
    --backBgImg1: url(../images/close-000.svg);
    --prevImg1: url(../images/prev-000.svg);
    --nextImg1: url(../images/next-000.svg);
    --logoBgImg: url(../images/logo-000.svg);
    -webkit--logoBgImg: url(../images/logo-000.svg);
}