:root{
    --fontColor: #fff;
    -webkit--fontColor: #fff;
    --aFontColor: #fff;
    -webkit--aFontColor: #fff;
    --bgColor1: #fff;
    -webkit--bgColor1: #fff;
    --bgColor2: #aaa;
    -webkit--bgColor2: #aaa;
    --bodyBgColor: #000;
    -webkit--bodyBgColor: #000;


    --backBgImg1: url(assets/images/close-fff.svg);


    --prevImg1: url(assets/images/prev-fff.svg);
    --nextImg1: url(assets/images/next-fff.svg);

    
    --logoBgImg: url(assets/images/logo-fff.svg);
}