html {
	scroll-behavior: smooth;
}
body {
  width: 100vw;
  max-height: 100vh;
  font-family: "Didot";
  font-size: 2vh;
  line-height: 3vh;
  background-color: var(--bodyBgColor);
}
body::-webkit-scrollbar { 
  width: 0 !important 
}

@font-face {
  font-family: "Didot";
  src: url("assets/font/Didot-Regular.ttf");
}
@font-face {
  font-family: "Lumi";
  src: url("../font/Luminari-Regular.ttf");
}
@font-face {
  font-family: "Sera";
  src: url("../font/SeratUltra-1GE24.ttf");
}

a:link { 
	color:var(--bgColor1); 
  text-decoration:none; 
} 
a:visited { 
    color:var(--bgColor1); 
    text-decoration:underline; 
} 
a:hover { 
    color:var(--bgColor2); 
    text-decoration:line-through; 
} 
a:active { 
    color:var(--bgColor2); 
    text-decoration:none; 
}  
a{
	cursor: pointer;
} 


img{
    width: 100%;
    height: 100%;
    object-fit: cover
}


dl {
  margin: 0;
}

dt {
  margin: 0;
  position: -webkit-sticky;
  position: sticky;
  top: 6vh;
  z-index: 1;
}
.sub-number{
  margin-top: 5vh;
  margin-left: 25vw;
  padding-left: 2vw;
  border-left: 1px solid ;
  font-family: "Sera";
  font-size: 2vh;
  position: absolute;
  background-color: var(--bodyBgColor);
}
dd {
  margin: 0;
}
  


.nav {
	position: fixed;
	top:7vh;
	right: 0;
  width: 40vh;
  height: 4vw;
	z-index: 9;
	cursor: pointer;
  background-color: var(--bgColor1);
  color: var(--bodyBgColor);
  font-family: "Lumi";
  font-size: 3vw;
  line-height: 4vw;
  text-align: center;
  transform: rotate(-90deg);
  transform-origin: right bottom;
}

.menu {
	height: 100vh;
	width: 44vw;
	background-color: var(--bodyBgColor);
	position: fixed;
	right: -40vw;
	top: 0px;
	z-index: 5;
	transition: all 2s;
  overflow: auto;
  border-left: 6px solid var(--bgColor1);
}
.menu.showme {
	right: 0;
	transition: all 2s;
}


.menu-1{
  width: 8vw;
  height: 3vh;
  margin-top: 3vh;
  margin-left: 27vw;
}
.menu-2{
  width: 30vw;
  height: auto;
  margin: 0 5vw;
  padding: 5vh 0;
  font-size: 2vh;
  line-height: 3vh;
  border-bottom: 2px solid var(--bgColor1);
}
.menu-3{
  width: 30vw;
  margin: 0 5vw;
  padding: 5vh 0;
  display: flex;
}
.menu-3-1{
  width: 12vw;
  margin-top: 3vh;
  margin-left: 7vw;
  text-align: right;
  position: relative;
}
.menu-3-2{
  width: 8vw;
  height: auto;
  margin-left: 3vw;
  position: relative;
}
.menu-4{
  width: 30vw;
  margin: 0 5vw;
  padding-bottom:3vh;
  text-align: right;
  border-bottom: 2px solid var(--bgColor1);
}
.menu-5{
  width: 30vw;
  margin: 0 5vw;
  padding: 5vh 0;
  font-size: 1.6vh;
  line-height: 2vh;
}



.c-f-s {
  position: fixed;
  width: 3vw;
  height: 10vh;
  right: 0.5vw;
  top: 60vh;
  z-index: 9;
}
.c-f-s .btn {
  display: block;
  margin: 1vh auto;
  padding: 0 auto;
  border: 1px solid rgb(128, 128, 128);
  border-radius: 4px;
  background-color: var(--bodyBgColor);
  width: 2vw;
  height: 2vw;
  line-height: 2vw;
  font-size: 1.5vw;
  box-sizing: border-box;
}
  

.theme {
  position: fixed;
  width: 3vw;
  height: 10vh;
  right: 0.5vw;
  top: 75vh;
  z-index: 9;
}
.theme span {
  display: block;
  width: 2vw;
  height: 2vw;
  margin: 1vh auto;
  border: 1px solid rgb(128, 128, 128);
  border-radius: 4px;
}
.theme span:nth-child(1) {
  background-color: #fff;
}
.theme span:nth-child(2) {
  background-color: #000;
}



#index-title-base{
  width: 96vw;
  height: 6vh;
  text-align: center;
  justify-items: center;
  font-family: "Lumi";
  font-size: 4vh;
  line-height: 6vh;
  position: fixed;
  top: 0;
  background-color: var(--bodyBgColor);
  z-index: 2;
}


:root {
  --progress-bar-height: 4px;
  --progress-bar-color: var(--bgColor1);
  --progress-bar-value-color: rgb(153, 153, 153);
  --progress-bar-value: 20%;
  width: 96vw;
}
article {
  position: relative;
  width: 96vw;
  height: 100vh;
}
.progress-wrapper {
  position: absolute;
  top: 0;
  height: 6vh;
  z-index: 4;
  pointer-events: none;
}
.progress-label {
  position: relative;
  margin-left: 92vw;
  font-family: "Didot";
  font-size: 2vh;
}

progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  width: 96vw;
  left: 0;
  top: 5.5vh;
  height: var(--progress-bar-height);
  background-color: var(--progress-bar-color);
  border: none;
}
progress::-moz-progress-bar {
  background-color: var(--progress-bar-value-color);
}
progress::-webkit-progress-bar {
  background-color: var(--progress-bar-color);
}
progress::-webkit-progress-value {
  background-color: var(--progress-bar-value-color);
}
progress::-ms-fill {
  background-color: var(--progress-bar-value-color);
}



#index-content-base{
  width: 96vw;
  height: 94vh;
  margin-top: 6vh;
  position: relative;
  
}
.index-space{
  width: 4vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  border-left: 6px solid var(--bgColor1);
}
.index-content-1{
  width: 32vw;
  margin-top: 45vh;
}
.index-content-2{
  width: 33vw;
  margin-left: 32vw;
  margin-top: 15vh;
  display: flex;
}
.index-content-3{
  width: 33vw;
  margin-left: 0vw;
  margin-top: 15vh;
  display: flex;
}
.index-content-4{
  width: 64vw;
  margin-left: 16vw;
  margin-top: 25vh;
}
.index-content-5{
  width: 64vw;
  margin-left: 32vw;
  margin-top: -55vh;
}





.p1{
  width: 30vw;
  height: auto;
  margin-top: 45vh;
  padding: 0 4vw 0 4vw;
}
.p2{
  margin: 1vw 11vw 1vh 0;
  padding-top: 2vh;
  padding-left: 2vw;
  border-top: 1px solid var(--bgColor1);
  font-family: "Sera";
  font-size: 2vh;
}
.p3{
  font-family: "Lumi";
  font-size: 3.5vh;
  line-height: 4vh;
  text-align: center;
  margin: 0 4vw 5vh 4vw;
  padding: 2vh 0;
  border-top: 2px solid var(--bgColor1);
  border-bottom: 2px solid var(--bgColor1);
}
.p4{
  margin: 1vw 0 1vh 11vw ;
  padding-top: 2vh;
  padding-right: 2vw;
  border-top: 1px solid var(--bgColor1);
  font-family: "Sera";
  font-size: 2vh;
  text-align: right;
}
.p5{
  margin: -2vh 1vw 5vh 11vw;
  -webkit-text-stroke: 0.5px;
  text-align: right;
}
.p6{
  margin: -2vh 11vw 5vh 1vw;
  -webkit-text-stroke: 0.5px;
}
.p7 button{
  width: 2vw;
  height: 2vw;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border: 2px solid var(--bgColor1);
  background: transparent;
}



#page1-content-base{
  width: 100vw;
  height: 94vh;
  margin-top: 6vh;
}

.p1-1{
  width: 64vw;
  height: 18vh;
  padding: 5vh 2vw;
  font-size: 3vh;
  text-decoration: underline;
  text-decoration-thickness: 0.5px;
  font-family: "Sera";
  letter-spacing: 1px;
  line-height: 4vh;
  margin-left: 32vw;
  border-left: 6px solid var(--bgColor1);
  background-color: var(--bodyBgColor);
}
#content-base{
  position: relative;
  display: flex;
}
.p1-2{
  width: 96vw;
  height: 76vh;
}
.p1-2-1{
  width: 64vw;
  height: auto;
  border-right: 6px solid var(--bgColor1);
}
.p1-2-2{
  width: 32vw;
  height: 76vh;
  padding: 0 2vw;
  border-bottom: 2px solid var(--bgColor1);
  border-top: 4px solid var(--bgColor1);
}
.p1-2-2-2{
  width: 20vw;
  height: 6vh;
  margin-top: 60vh;
  padding-top: 5vh;
  border-top: 2px solid var(--bgColor1);
}
.p1-4{
  width: 96vw;
  height: auto;
  position: relative;
}
.p1-4-left{
  width: 64vw;
  height: auto;
}
.p1-4-right{
  width: 32vw;
  padding: 5vh 2vw;
  border-top: 4px solid var(--bgColor1);
  line-height: 4vh;
  -webkit-text-stroke: 0.5px;
}


.p1-4l1-left{
  width: 32vw;
  position: relative;
}
.p1-4l1-left-1{
  width: 28vw;
  height: auto;
  font-size: 1.6vh;
  line-height: 2vh;
  margin: auto 2vw 5vh 2vw;
  position: absolute;
  padding-bottom: 5vh;
  bottom: 0;
  text-align: right;
  border-bottom: 2px solid var(--bgColor1);
}
.p1-4l1-right{
  width: 32vw;
  height: auto;
  padding: 5vh 1vw;
  border-left: 6px solid var(--bgColor1);
}

.p1-5{
  width: 64vw;
  height: 50vh;
  border-right:6px solid var(--bgColor1);
}
.p1-5-left{
  width: 32vw;
  height: 14vh;
  margin-top: 25vh;
  display: flex;
}
.p1-5-right{
  width: 32vw;
  height: 35vh;
  padding-top: 7vh;
  border-top: 4px solid var(--bgColor1);
}
.p1-5l1{
  width: 18vw;
  height: 9vh;
  margin-top: 3vh;
  margin-left: 2vw;
  text-align: right;
  position: relative;
}
.p1-5l2{
  width: 8vw;
  height: auto;
  margin-left: 2vw;
  position: relative;
}
.p1-5r1{
  width: 26vw;
  height: auto;
  margin: 3vh 3vw;
  padding: 2vh 0;
  border-bottom: 2px solid var(--bgColor1);
}

.p1-8{
  width: 64vw;
  height: 43vh;
  border-right: 6px solid var(--bgColor1);
}
.p1-8-left{
  width: 32vw;
  height: 14vh;
  margin-top: 17vh;
  display: flex;
}
.p1-8-right{
  width: 32vw;
  height: 43vh;
  padding-top: 7vh;
  border-top: 4px solid var(--bgColor1);
}
.p1-8l1{
  width: 18vw;
  height: 9vh;
  margin-top: 3vh;
  margin-left: 2vw;
  text-align: right;
  position: relative;
}
.p1-8l2{
  width: 8vw;
  height: auto;
  margin-left: 2vw;
  position: relative;
}
.p1-8r1{
  width: 26vw;
  height: auto;
  margin: 3vh 2vw;
  padding: 2vh 0;
  border-bottom: 2px solid var(--bgColor1);
}
.p1-9{
  width: 96vw;
  height: 94vh;
}
.p1-9-left{
  width: 32vw;
}
.p1-9l1{
  width: 32vw;
  padding: 8vh 2vw 5vh 2vw;
  line-height: 4vh;
  -webkit-text-stroke: 0.5px;
}
.p1-9-right{
  width: 64vw;
  height: auto;
  border-top: 4px solid var(--bgColor1);
  border-left: 6px solid var(--bgColor1);
}
.p1-9-right iframe {
	width:58vw;
  height:60vh;
  margin-top: 18vh;
	margin-left: 3vw;
	position: relative;
}




.p2-1{
  width: 64vw;
  height: 16vh;
  padding: 5vh 2vw;
  font-family: "Lumi";
  font-size: 5vh;
  line-height: 6vh;
  margin-left: 32vw;
  text-align: right;
  padding-right: 5vw;
  border-left: 6px solid var(--bgColor1);
  border-top: 6px solid var(--bgColor1);
  background-color: var(--bodyBgColor);
  z-index: 1;
}
.p2-2{
  width: 96vw;
  height: 78vh;
}
.p2-2-1{
  width: 64vw;
  height: 78vh;
  border-right: 6px solid var(--bgColor1);
}
.p2-2-2{
  width: 32vw;
  height: 78vh;
  padding: 0 2vw;
  border-bottom: 2px solid var(--bgColor1);
  border-top: 4px solid var(--bgColor1);
}
.p2-2-2-1{
  width: 20vw;
  height: 17vh;
  margin-top: 37vh;
  padding-top: 5vh;
  border-top: 2px solid var(--bgColor1);
}
.p2-2-2-2{
  width: 20vw;
  height: 14vh;
  margin-top: 5vh;
  padding-top: 5vh;
  border-top: 2px solid var(--bgColor1);
}
.p2-3{
  width: 64vw;
  height: 14vh;
  padding: 5vh 2vw;
  font-size: 3vh;
  text-decoration: underline;
  text-decoration-thickness: 0.5px;
  font-family: "Sera";
  letter-spacing: 1px;
  line-height: 4vh;
  margin-left: 32vw;
  border-left: 6px solid var(--bgColor1);
  background-color:var(--bodyBgColor);
}
.p2-5{
  width: 64vw;
  height: 60vh;
  border-right: 6px solid var(--bgColor1);
}
.p2-5-left{
  width: 32vw;
  height: 14vh;
  margin-top: 36vh;
  display: flex;
}
.p2-5-right{
  width: 32vw;
  height: 35vh;
  padding-top: 3vh;
  border-top: 4px solid var(--bgColor1);
}
.p2-5l1{
  width: 18vw;
  height: 9vh;
  margin-top: 3vh;
  margin-left: 2vw;
  text-align: right;
  position: relative;
}
.p2-5l2{
  width: 8vw;
  height: auto;
  margin-left: 2vw;
  position: relative;
}
.p2-5r1{
  width: 32vw;
  padding: 5vh 2vw;
  line-height: 4vh;
  -webkit-text-stroke: 0.5px;
}
.p2-5r2{
  width: 21vw;
  height: auto;
  margin: 0 9vw 3vh 2vw;
  padding: 2vh 0;
  border-bottom: 2px solid var(--bgColor1);
}
.p2-6{
  width: 64vw;
  height: 14vh;
  padding: 5vh 2vw;
  font-size: 3vh;
  text-decoration: underline;
  text-decoration-thickness: 0.5px;
  font-family: "Sera";
  letter-spacing: 1px;
  line-height: 4vh;
  margin-left: 32vw;
  border-left: 6px solid var(--bgColor1);
  border-top: 4px solid var(--bgColor1);
  background-color: var(--bodyBgColor);
}
.p2-8{
  width: 64vw;
  height: 40vh;
  border-right: 6px solid var(--bgColor1);
}
.p2-8-left{
  width: 32vw;
  height: 14vh;
  margin-top: 17vh;
  display: flex;
}
.p2-8-right{
  width: 32vw;
  height: 40vh;
  padding-top: 5vh;
  border-top: 4px solid var(--bgColor1);
}
.p2-8l1{
  width: 18vw;
  height: 6vh;
  margin-top: 4vh;
  margin-left: 2vw;
  text-align: right;
  position: relative;
}
.p2-11{
  width: 64vw;
  height: 55vh;
  border-right: 6px solid var(--bgColor1);
}
.p2-11-left{
  width: 32vw;
  height: 14vh;
  margin-top: 28vh;
  display: flex;
}
.p2-11-right{
  width: 32vw;
  height: 55vh;
  padding-top: 5vh;
  border-top: 4px solid var(--bgColor1);
}
.p2-11l1{
  width: 18vw;
  height: 6vh;
  margin-top: 4vh;
  margin-left: 2vw;
  text-align: right;
  position: relative;
}
.p2-11l1-right{
  width: 32vw;
  height: auto;
  padding: 5vh 8vw;
  border-left: 6px solid var(--bgColor1);
}




.p3-2-1{
  width: 64vw;
  height: 78vh;
  border-right: 2px solid var(--bgColor1);
}
.p3-2-2-1{
  width: 20vw;
  height: 29vh;
  margin-top: 26vh;
  padding-top: 5vh;
  border-top: 2px solid var(--bgColor1);
}
.p3-2-2-2{
  width: 20vw;
  height: 11vh;
  margin-top: 5vh;
  padding-top: 5vh;
  border-top: 2px solid var(--bgColor1);
}
.p3-5{
  width: 64vw;
  height: 80vh;
  border-right: 6px solid var(--bgColor1);
}
.p3-5-left{
  width: 32vw;
  height: 14vh;
  margin-top: 56vh;
  display: flex;
}
.p3-5-right{
  width: 32vw;
  height: 80vh;
  padding-top: 2vh;
  border-top: 4px solid var(--bgColor1);
}
.p3-6{
  width: 64vw;
  height: 18vh;
  padding: 5vh 2vw;
  font-size: 3vh;
  text-decoration: underline;
  text-decoration-thickness: 0.5px;
  font-family: "Sera";
  letter-spacing: 1px;
  line-height: 4vh;
  margin-left: 32vw;
  border-left: 6px solid var(--bgColor1);
  border-top: 4px solid var(--bgColor1);
  background-color: var(--bodyBgColor);
}
.p3-8-left{
  width: 32vw;
  height: 14vh;
  margin-top: 15vh;
  display: flex;
}
.p3-11{
  width: 64vw;
  height: 70vh;
  border-right: 6px solid var(--bgColor1);
}
.p3-11-left{
  width: 32vw;
  height: 14vh;
  margin-top: 47vh;
  display: flex;
}
.p3-11-right{
  width: 32vw;
  height: 70vh;
  padding-top: 3vh;
  border-top: 4px solid var(--bgColor1);
}
.p3-12{
  width: 96vw;
  height: 52vh;
  border-right: 6px solid var(--bgColor1);
}
.p3-12-left{
  width: 32vw;
  padding: 15vh 2vw;
  line-height: 4vh;
  -webkit-text-stroke: 0.5px;
}
.p3-12-middle{
  width: 32vw;
  height: 52vh;
  padding-top: 10vh;
  border-top: 4px solid var(--bgColor1);
  border-left: 6px solid var(--bgColor1);
}
.p3-12-right{
  width: 32vw;
  height: 14vh;
  margin-top: 22vh;
  display: flex;
}
.p2-12r1{
  width: 8vw;
  height: auto;
  margin-left: 2vw;
  position: relative;
}
.p2-12r2{
  width: 18vw;
  height: 9vh;
  margin-top: 3vh;
  margin-left: 2vw;
  position: relative;
}


