html {
	scroll-behavior: smooth;
}
body {
  width: 100vw;
  max-height: 100vh;
  font-family: "Didot";
  font-size: 2vh;
  line-height: 3vh;
}


@font-face {
  font-family: "Didot";
  src: url("assets/font/Didot-Regular.ttf");
}
@font-face {
  font-family: "Lumi";
  src: url("../font/Luminari-Regular.ttf");
}
@font-face {
  font-family: "Sera";
  src: url("../font/SeratUltra-1GE24.ttf");
}

a:link { 
	color:var(--bgColor2); 
  text-decoration:none; 
} 
a:visited { 
    color:var(--bgColor1); 
    text-decoration:wavy; 
} 
a:hover { 
    color:var(--bgColor1); 
    text-decoration:line-through; 
} 
a:active { 
    color:var(--bgColor2); 
    text-decoration:none; 
}  
a{
	cursor: pointer;
} 


img{
    width: 100%;
    height: 100%;
    object-fit: cover
}
  


.nav {
	position: fixed;
	top:7vh;
	right: 0;
  width: 40vh;
  height: 4vw;
	z-index: 9;
	cursor: pointer;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-family: "Lumi";
  font-size: 3vw;
  line-height: 4vw;
  text-align: center;
  transform: rotate(-90deg);
  transform-origin: right bottom;
}

.menu {
	height: 100vh;
	width: 44vw;
	background-color: rgb(255, 255, 255);
	position: fixed;
	right: -40vw;
	top: 0px;
	z-index: 5;
	transition: all 2s;
  overflow: auto;
  border-left: 6px solid black;
}
.menu.showme {
	right: 0;
	transition: all 2s;
}


.menu-1{
  width: 8vw;
  height: 3vh;
  margin-top: 3vh;
  margin-left: 27vw;
}
.menu-2{
  width: 30vw;
  height: auto;
  margin: 0 5vw;
  padding: 5vh 0;
  font-size: 2vh;
  line-height: 3vh;
  border-bottom: 2px solid black;
}
.menu-3{
  width: 30vw;
  margin: 0 5vw;
  padding: 5vh 0;
  display: flex;
}
.menu-3-1{
  width: 12vw;
  margin-top: 3vh;
  margin-left: 7vw;
  text-align: right;
  position: relative;
}
.menu-3-2{
  width: 8vw;
  height: auto;
  margin-left: 3vw;
  position: relative;
}
.menu-4{
  width: 30vw;
  margin: 0 5vw;
  padding-bottom:3vh;
  text-align: right;
  border-bottom: 2px solid black;
}
.menu-5{
  width: 30vw;
  margin: 0 5vw;
  padding: 5vh 0;
  font-size: 1.6vh;
  line-height: 2vh;
}

#menu-p2-1,
#menu-p3-1{
  padding-top: 6vh;
  margin-top: -6vh;
}


.c-f-s {
  position: fixed;
  width: 3vw;
  height: 10vh;
  right: 0.5vw;
  top: 60vh;
  z-index: 9;
}
.c-f-s .btn {
  display: block;
  margin: 1vh auto;
  padding: 0 auto;
  border: 1px solid rgb(128, 128, 128);
  border-radius: 4px;
  background-color: rgb(255, 254, 254);
  width: 2vw;
  height: 2vw;
  line-height: 2vw;
  font-size: 1.5vw;
  box-sizing: border-box;
}
  

.theme {
  position: fixed;
  width: 3vw;
  height: 10vh;
  right: 0.5vw;
  top: 75vh;
  z-index: 9;
}
.theme span {
  display: block;
  width: 2vw;
  height: 2vw;
  margin: 1vh auto;
  border: 1px solid rgb(128, 128, 128);
  border-radius: 4px;
}
.theme span:nth-child(1) {
  background-color: #fff;
}
.theme span:nth-child(2) {
  background-color: #000;
}



#index-title-base-1{
  width: 100vw;
  height: 6vh;
  text-align: center;
  justify-items: center;
  font-family: "Lumi";
  font-size: 4vh;
  line-height: 6vh;
  position: fixed;
  top: 0;
  border-bottom: 2px solid black;
  background-color: white;
  z-index: 2;
}
#index-content-base{
  width: 96vw;
  height: 94vh;
  margin-top: 6vh;
  position: relative;
  display: flex;
  justify-content: space-around;
}
#index-section{
  width: 32vw;
  height: 94vh;
  overflow: auto;
  padding: 5vh 1vw;
  border-right: 6px solid black;
}
.p1{
  width: 30vw;
  height: auto;
  padding: 5vh 4vw;
}
.p2{
  margin: 0vh 6vw 0 6vw;
  padding-top: 2vh;
  border-top: 1px solid black;
  font-family: "Sera";
  font-size: 2vh;
}
.p3{
  font-family: "Lumi";
  font-size: 3.5vh;
  line-height: 4vh;
  text-align: center;
  margin: 0 4vw 5vh 4vw;
  padding-top: 2vh;
  border-top: 1px solid black;
}
.p4{
  margin: 5vh 6vw 0 6vw;
  padding-top: 2vh;
  border-top: 1px solid black;
  font-family: "Sera";
  font-size: 2vh;
}
.p5{
  margin-top: 10vh;
}
.p6{
  margin: -2vh 6vw 5vh 6vw;
  -webkit-text-stroke: 0.5px;
}
.p7{
  
}
.p8{
  width: 30vw;
  height: auto;
  padding: 0 4vw 5vh 4vw;
}


#index-title-base{
  width: 96vw;
  height: 6vh;
  text-align: center;
  justify-items: center;
  font-family: "Lumi";
  font-size: 4vh;
  line-height: 6vh;
  position: fixed;
  top: 0;
  border-bottom: 2px solid black;
  background-color: white;
  z-index: 2;
}


#page1-content-base{
  width: 100vw;
  height: 94vh;
  margin-top: 6vh;
}
.p1-1{
  width: 64vw;
  height: 18vh;
  padding: 5vh 2vw;
  font-size: 3vh;
  text-decoration: underline;
  text-decoration-thickness: 0.5px;
  font-family: "Sera";
  letter-spacing: 1px;
  line-height: 4vh;
  margin-left: 32vw;
  border-left: 6px solid black;
}
#content-base{
  position: relative;
  display: flex;
}
.p1-2{
  width: 96vw;
  height: 76vh;
}
.p1-2-1{
  width: 64vw;
  height: auto;
  border-right: 6px solid black;
}
.p1-2-2{
  width: 32vw;
  height: 76vh;
  padding: 0 2vw;
  border-bottom: 2px solid black;
  border-top: 4px solid black;
}
.p1-2-2-2{
  width: 20vw;
  height: 6vh;
  margin-top: 60vh;
  padding-top: 5vh;
  border-top: 2px solid black;
}
.p1-4{
  width: 96vw;
  height: auto;
  position: relative;
}
.p1-4-left{
  width: 64vw;
  height: auto;
  overflow-y: scroll;
}
.p1-4-right{
  width: 32vw;
  padding: 5vh 2vw;
  border-top: 4px solid black;
  line-height: 4vh;
  -webkit-text-stroke: 0.5px;
}
.p1-4l1-left{
  width: 32vw;
  position: relative;
}
.p1-4l1-left-1{
  width: 28vw;
  height: auto;
  font-size: 1.6vh;
  line-height: 2vh;
  margin: auto 2vw 5vh 2vw;
  position: absolute;
  padding-bottom: 5vh;
  bottom: 0;
  text-align: right;
  border-bottom: 2px solid black;
}
.p1-4l1-right{
  width: 32vw;
  height: auto;
  padding: 5vh 1vw;
  border-left: 6px solid black;
}
.p1-5{
  width: 64vw;
  height: 50vh;
  border-right:6px solid black;
}
.p1-5-left{
  width: 32vw;
  height: 14vh;
  margin-top: 25vh;
  display: flex;
}
.p1-5-right{
  width: 32vw;
  height: 35vh;
  padding-top: 7vh;
  border-top: 4px solid black;
}
.p1-5l1{
  width: 18vw;
  height: 9vh;
  margin-top: 3vh;
  margin-left: 2vw;
  text-align: right;
  position: relative;
}
.p1-5l2{
  width: 8vw;
  height: auto;
  margin-left: 2vw;
  position: relative;
}
.p1-5r1{
  width: 26vw;
  height: auto;
  margin: 3vh 3vw;
  padding: 2vh 0;
  border-bottom: 2px solid black;
}

.p1-6{
  width: 64vw;
  height: 34vh;
  padding: 5vh 2vw;
  font-size: 3vh;
  text-decoration: underline;
  text-decoration-thickness: 0.5px;
  font-family: "Sera";
  letter-spacing: 1px;
  line-height: 4vh;
  margin-left: 32vw;
  border-left: 6px solid black;
  border-top: 4px solid black;
}
.p1-8{
  width: 64vw;
  height: 43vh;
  border-right: 6px solid black;
}
.p1-8-left{
  width: 32vw;
  height: 14vh;
  margin-top: 17vh;
  display: flex;
}
.p1-8-right{
  width: 32vw;
  height: 43vh;
  padding-top: 7vh;
  border-top: 4px solid black;
}
.p1-8l1{
  width: 18vw;
  height: 9vh;
  margin-top: 3vh;
  margin-left: 2vw;
  text-align: right;
  position: relative;
}
.p1-8l2{
  width: 8vw;
  height: auto;
  margin-left: 2vw;
  position: relative;
}
.p1-8r1{
  width: 26vw;
  height: auto;
  margin: 3vh 2vw;
  padding: 2vh 0;
  border-bottom: 2px solid black;
}
.p1-9{
  width: 96vw;
  height: 94vh;
}
.p1-9-left{
  width: 32vw;
}
.p1-9l1{
  width: 32vw;
  padding: 8vh 2vw 5vh 2vw;
  line-height: 4vh;
  -webkit-text-stroke: 0.5px;
}
.p1-9-right{
  width: 64vw;
  height: auto;
  border-top: 4px solid black;
  border-left: 6px solid black;
}
.p1-9-right iframe {
	width:58vw;
  height:60vh;
  margin-top: 18vh;
	margin-left: 3vw;
	position: relative;
}




.p2-1{
  width: 64vw;
  height: 16vh;
  padding: 5vh 2vw;
  font-family: "Lumi";
  font-size: 5vh;
  line-height: 6vh;
  margin-left: 32vw;
  text-align: right;
  padding-right: 5vw;
  border-left: 6px solid black;
  border-top: 6px solid black;

}
.p2-2{
  width: 96vw;
  height: 78vh;
}
.p2-2-1{
  width: 64vw;
  height: 78vh;
  padding: 0 10vw;
  border-right: 6px solid black;
  background-color: black;
}
.p2-2-2{
  width: 32vw;
  height: 78vh;
  padding: 0 2vw;
  border-bottom: 2px solid black;
  border-top: 4px solid black;
}
.p2-2-2-1{
  width: 20vw;
  height: 17vh;
  margin-top: 37vh;
  padding-top: 5vh;
  border-top: 2px solid black;
}
.p2-2-2-2{
  width: 20vw;
  height: 14vh;
  margin-top: 5vh;
  padding-top: 5vh;
  border-top: 2px solid black;
}
.p2-3{
  width: 64vw;
  height: 14vh;
  padding: 5vh 2vw;
  font-size: 3vh;
  text-decoration: underline;
  text-decoration-thickness: 0.5px;
  font-family: "Sera";
  letter-spacing: 1px;
  line-height: 4vh;
  margin-left: 32vw;
  border-left: 6px solid black;
}
.p2-5{
  width: 64vw;
  height: 60vh;
  border-right: 6px solid black;
}
.p2-5-left{
  width: 32vw;
  height: 14vh;
  margin-top: 36vh;
  display: flex;
}
.p2-5-right{
  width: 32vw;
  height: 35vh;
  padding-top: 3vh;
  border-top: 4px solid black;
}
.p2-5l1{
  width: 18vw;
  height: 9vh;
  margin-top: 3vh;
  margin-left: 2vw;
  text-align: right;
  position: relative;
}
.p2-5l2{
  width: 8vw;
  height: auto;
  margin-left: 2vw;
  position: relative;
}
.p2-5r1{
  width: 32vw;
  padding: 5vh 2vw;
  line-height: 4vh;
  -webkit-text-stroke: 0.5px;
}
.p2-5r2{
  width: 21vw;
  height: auto;
  margin: 0 9vw 3vh 2vw;
  padding: 2vh 0;
  border-bottom: 2px solid black;
}
.p2-6{
  width: 64vw;
  height: 14vh;
  padding: 5vh 2vw;
  font-size: 3vh;
  text-decoration: underline;
  text-decoration-thickness: 0.5px;
  font-family: "Sera";
  letter-spacing: 1px;
  line-height: 4vh;
  margin-left: 32vw;
  border-left: 6px solid black;
  border-top: 4px solid black;
}
.p2-8{
  width: 64vw;
  height: 40vh;
  border-right: 6px solid black;
}
.p2-8-left{
  width: 32vw;
  height: 14vh;
  margin-top: 17vh;
  display: flex;
}
.p2-8-right{
  width: 32vw;
  height: 40vh;
  padding-top: 5vh;
  border-top: 4px solid black;
}
.p2-8l1{
  width: 18vw;
  height: 6vh;
  margin-top: 4vh;
  margin-left: 2vw;
  text-align: right;
  position: relative;
}
.p2-11{
  width: 64vw;
  height: 55vh;
  border-right: 6px solid black;
}
.p2-11-left{
  width: 32vw;
  height: 14vh;
  margin-top: 28vh;
  display: flex;
}
.p2-11-right{
  width: 32vw;
  height: 55vh;
  padding-top: 5vh;
  border-top: 4px solid black;
}
.p2-11l1{
  width: 18vw;
  height: 6vh;
  margin-top: 4vh;
  margin-left: 2vw;
  text-align: right;
  position: relative;
}
.p2-11l1-right{
  width: 32vw;
  height: auto;
  padding: 5vh 8vw;
  border-left: 6px solid black;
}




.p3-2-1{
  width: 64vw;
  height: 78vh;
  border-right: 2px solid black;
}
.p3-2-2-1{
  width: 20vw;
  height: 29vh;
  margin-top: 26vh;
  padding-top: 5vh;
  border-top: 2px solid black;
}
.p3-2-2-2{
  width: 20vw;
  height: 11vh;
  margin-top: 5vh;
  padding-top: 5vh;
  border-top: 2px solid black;
}
.p3-5{
  width: 64vw;
  height: 80vh;
  border-right: 6px solid black;
}
.p3-5-left{
  width: 32vw;
  height: 14vh;
  margin-top: 56vh;
  display: flex;
}
.p3-5-right{
  width: 32vw;
  height: 80vh;
  padding-top: 2vh;
  border-top: 4px solid black;
}
.p3-6{
  width: 64vw;
  height: 18vh;
  padding: 5vh 2vw;
  font-size: 3vh;
  text-decoration: underline;
  text-decoration-thickness: 0.5px;
  font-family: "Sera";
  letter-spacing: 1px;
  line-height: 4vh;
  margin-left: 32vw;
  border-left: 6px solid black;
  border-top: 4px solid black;
}
.p3-8-left{
  width: 32vw;
  height: 14vh;
  margin-top: 15vh;
  display: flex;
}
.p3-11{
  width: 64vw;
  height: 70vh;
  border-right: 6px solid black;
}
.p3-11-left{
  width: 32vw;
  height: 14vh;
  margin-top: 47vh;
  display: flex;
}
.p3-11-right{
  width: 32vw;
  height: 70vh;
  padding-top: 3vh;
  border-top: 4px solid black;
}
.p3-12{
  width: 96vw;
  height: 52vh;
  border-right: 6px solid black;
}
.p3-12-left{
  width: 32vw;
  padding: 15vh 2vw;
  line-height: 4vh;
  -webkit-text-stroke: 0.5px;
}
.p3-12-middle{
  width: 32vw;
  height: 52vh;
  padding-top: 10vh;
  border-top: 4px solid black;
  border-left: 6px solid black;
}
.p3-12-right{
  width: 32vw;
  height: 14vh;
  margin-top: 22vh;
  display: flex;
}
.p2-12r1{
  width: 8vw;
  height: auto;
  margin-left: 2vw;
  position: relative;
}
.p2-12r2{
  width: 18vw;
  height: 9vh;
  margin-top: 3vh;
  margin-left: 2vw;
  position: relative;
}


