html {
	scroll-behavior: smooth;
}
body {
  width: 100vw;
  max-height: 100vh;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1em;
  line-height: 1.5em;
  overflow-y: scroll;
  scroll-snap-type: mandatory; /* for older browsers */
  scroll-snap-points-y: repeat(100vh); /* for older browsers */
  scroll-snap-type: y mandatory;
}
a:link { 
	color:#ff0000; 
    text-decoration:none; 
} 
a:visited { 
    color:#fca400; 
    text-decoration:none; 
} 
a:hover { 
    color:#0066ff; 
    text-decoration:line-through; 
} 
a:active { 
    color:#15ff00; 
    text-decoration:none; 
}  
a{
	cursor: pointer;
} 
img{
    width:100%;
    height: 100%;
	border-radius: 50% 20% / 10% 40%;
	transition: border-radius 2.5s;
	-webkit-transition: border-radius 2.5s;
}
img:hover{
	border-radius: 30% 20% / 10% 60%;
}



#menu-left{
	width:5vw;
    height:8vh;
	left: 0;
	position: fixed;
	background-color: rgba(128, 128, 128, 0.5);
	z-index: 9999;
}
#menu-right{
	width:5vw;
    height:8vh;
	right: 0;
	position: fixed;
	background-color: rgba(128, 128, 128, 0.5);
	z-index: 9999;
}



.arrow,
.arrow:before{
  position: absolute;
  left: 50%;
}
.arrow{
  width: 10px;
  height: 10px;
  margin: -20px 0 0 -20px;
  transform: rotate(45deg);
  border-left: none;
  border-top: none;
  border-right: 2px #fff solid;
  border-bottom: 2px #fff solid;
}
.arrow:before{
  content: '';
  width: 5px;
  height: 5px;
  top: 50%;
  margin: -10px 0 0 -10px;
  border-left: none;
  border-top: none;
  border-right: 1px #fff solid;
  border-bottom: 1px #fff solid;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: arrow;
}
@keyframes arrow{
  0%{
    opacity: 1;}
  100%{
    opacity: 0;
    transform: translate(-10px, -10px)}
}
.arrow2,
.arrow2:before{
  position: absolute;
  left: 50%;
}
.arrow2{
	width: 10px;
	height: 10px;
	margin: -20px 0 0 -20px;
	transform: rotate(45deg);
	border-left: none;
	border-top: none;
	border-right: 2px rgb(0, 0, 0) solid;
	border-bottom: 2px rgb(0, 0, 0) solid;
}
.arrow2:before{
	content: '';
	width: 5px;
	height: 5px;
	top: 50%;
	margin: -10px 0 0 -10px;
	border-left: none;
	border-top: none;
	border-right: 1px rgb(0, 0, 0) solid;
	border-bottom: 1px rgb(0, 0, 0) solid;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-name: arrow2;
  }
  @keyframes arrow2{
	0%{
	  opacity: 1;}
	100%{
	  opacity: 0;
	  transform: translate(-10px, -10px)}
  }
  

#page-5{
	width:100vw;
    height:100vh;
	display: flex;
	position: relative;
	justify-content: space-around;
	background-color: black;

	scroll-snap-align: start;
    scroll-snap-stop: always;
}

#p5-left{
	width:78vw;
	height: 100vh;
	left: -6vw;
	top: 0;
	float: left;
	position: absolute;
	opacity: 0.9;
	animation: flash 8s alternate infinite;
}
@keyframes flash{
	from{transform: scale(0.9)}
	to{transform: scale(1)}
}
#p5-right{
	width:50vw;
	height: 100vh;
	right: 0.5vw;
	float: right;
	position: absolute;
	
}

.p5r-1 {
	width:44vw;
	height: 10vh;
	margin-top: 13vh;
	margin-left: 6vw;
	text-align: center;
	color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.5em;
    line-height:10vh;
	-webkit-text-stroke: 1px;
}
  
.btn-twinkle-1{
	width: 20vw;
	height: 7vh;
	top: 60vh;
	left: 27vw;
	text-align: center;
	line-height: 7vh;
	
	animation: twinkle 2s alternate infinite;
	border-radius: 50% 20% / 10% 40%;
	outline: none;
	position: relative;
	transition: border-radius 2.5s;
	-webkit-transition: border-radius 2.5s;
}
.btn-twinkle-2{
	width: 10vw;
	height: 7vh;
	top: 60vh;
	left: 32vw;
	text-align: center;
	line-height: 7vh;
	
	animation: twinkle 2s alternate infinite;
	border-radius: 50% 20% / 10% 40%;
	outline: none;
	position: relative;
	transition: border-radius 2.5s;
	-webkit-transition: border-radius 2.5s;
}
@keyframes twinkle{
	from{color: rgb(61, 61, 61);border: 2px dashed rgb(201, 201, 201)}
	to{color: rgb(201, 201, 201);border: 2px dashed rgb(61, 61, 61)}
}


.btn-twinkle-1:hover,
.btn-twinkle-2:hover{
	border-radius: 10% 30% 50% 70%;
}
.btn-twinkle-1:hover+ .p5r-2,
.btn-twinkle-2:hover+ .p5r-3{
	display: block;
} 

.p5r-2 {
	width: 34vw;
    height:50vh;
	margin: -2vh 3vw 1vh 13vw;
	padding-top:3vh;
	padding-left: 3vw;
	padding-right: 2vw;
	align-items: left;
	color: white;
	font-size: 1.3em;
    line-height:2em;
	-webkit-text-stroke: 0.5px;
	display: none;
	overflow: auto;

	border-radius: 50% 20% / 10% 40%;
	border: 2px solid rgb(255, 255, 255);
}
.p5r-3 {
	width: 34vw;
    height:50vh;
	margin: -9vh 3vw 1vh 13vw;
	padding-top:7vh;
	padding-left: 3vw;
	padding-right: 2vw;
	align-items: left;
	color: white;
	display: none;
	border-radius: 50% 20% / 10% 40%;
	border: 2px solid rgb(255, 255, 255);
}
.p5r-3-1 {
	font-size: 1.1em;
    line-height:2em;
	-webkit-text-stroke: 0.5px;
}
.p5r-3-2 {
	margin-top: 5vh;
	font-size: 1em;
    line-height:0.9em;
}
.A1{
	position: absolute;
	top: 100vh;
	left: 53vw;
}




#page5-middle{
	width:35vw;
    height:100vh;
	position: absolute;
	padding: 3vh 1vw 3vh 1vw;
	top:0;
	left:45vw;
	z-index: 999;
}
#p5m-content{
	width:33vw;
    height:94vh;
	position: relative;
	background: rgb(235, 231, 223);
	border-radius: 50% 20% / 10% 40%;

	overflow-y: scroll;
    scroll-snap-type: mandatory; /* for older browsers */
    scroll-snap-points-y: repeat(100vh); /* for older browsers */
    scroll-snap-type: y mandatory;

	transition: border-radius 3s;
	-webkit-transition: border-radius 3s;
}
#p5m-content:hover{
	border-radius: 30% 10% / 20% 50%;
}
.p5m-content-detail1{
	width:33vw;
    height:94vh;
	margin: 3vh 1vw 3vh 0;
	padding:15vh 3.5vw 8vh 2.5vw;
	align-items: left;
	position: relative;

	font-family: 'Courier New', Courier, monospace;
    font-size: 1.2em;
    line-height:1.7em;
	-webkit-text-stroke: 0.5px;

	overflow: auto;
	scroll-snap-align: start;
    scroll-snap-stop: always;
}
.A2{
	position: absolute;
	top: 93vh;
	left: 16vw;
}

.p5m-content-detail2{
	width:33vw;
    height:94vh;
	margin: 3vh 1vw 3vh 0;
	padding:15vh 3.5vw 8vh 2.5vw;
	align-items: left;
	position: relative;

	font-family: 'Courier New', Courier, monospace;
    font-size: 1.2em;
    line-height:1.7em;
	-webkit-text-stroke: 0.5px;

	overflow: auto;
	scroll-snap-align: start;
    scroll-snap-stop: always;
}


#border-btn{
	width: 27vw;
	height: 7vh;
	align-items:center;
	justify-content: center;
}
button{
	width: 12vw;
	height: 7vh;
	border: 2px dashed rgb(129, 129, 129);
	float: right;
	margin-right: 1vw;
	border-radius: 50% 20% / 10% 40%;
	color: rgb(0, 0, 0);
	background: transparent;
	font-family: 'Courier New', Courier, monospace;
  font-size: 1em;
  line-height: 1.5em;
	outline: none;
	position: relative;
	transition: border-radius 2.5s;
	-webkit-transition: border-radius 2.5s;
}
button:hover{
	border-radius: 10% 30% 50% 70%;
}


#page5-back{
	background: rgb(0, 0, 0);
	color: rgb(255, 255, 255);
	width:100vw;
    height:100vh;
	box-shadow: 0 1px 4px rgb(0 21 41 / 8%);
	overflow-y: scroll;
    scroll-snap-type: mandatory; /* for older browsers */
    scroll-snap-points-y: repeat(100vh); /* for older browsers */
    scroll-snap-type: y mandatory;
}
#p5b1,
#p5b2,
#p5b3,
#p5b4{
	width:100vw;
	margin-top: 18vh;
	margin-bottom: 15vh;
	display: flex;
	position: relative;
	justify-content: space-around;	
    border-radius: 25px;
    scroll-snap-align: center;
    scroll-snap-stop: always;
}

.p5b-img1{
	width: 45vw;
	height: auto;
	float: left;
}
.p5b-img{
    width:100%;
    height: 100%;
	border-radius: 50% 20% / 10% 40%;
}

.space{
	width: 35vw;
	border-right: solid dimgrey 3px;
}
.p5b-img-content1{
	width:20vw;
	height: auto;
	float: right;
	position: relative;
	box-shadow: 0 1px 4px rgb(0 21 41 / 8%);
    border-radius: 50% 20% / 10% 40%;

	opacity:0.5;
}
.A3{
	position: absolute;
	margin-top: 6vh;
	left: 20vw;
	cursor: pointer;
}
.A4{
	position: absolute;
	margin-top: 6vh;
	left: 12vw;
	cursor: pointer;
}
.p5b-img-content1-sub1{
	width:19vw;
	height: auto;
	margin: 5vh 0.5vw 0 0.5vw;
}
.p5b-img-content1:hover{
    opacity:1;
}
.p5b-img-content1-sub2{
	width:20vw;
	height: auto;
	align-items: left;
	padding: 5vh 2vw;
	font-size: 0.75em;
    line-height: 1.1em;
	overflow: auto;
}











